<div class="container">
    <h1>피자가 먹고싶다!</h1>
    <form action="/food/pizza_ok" method="get">
        <div class="form-group">
          <label for="pizza">몇개를 주문하시겠습니까?</label>
          <input type="text" name="pizza_order" class="form-control" id="pizza" placeholder="갯수를 입력해 주세요">
        </div>
        <div class="form-group">
            <label for="pizza">무슨 메뉴를 주문할래?</label>
            <input type="text" name="pizza_menu" class="form-control" id="pizza" placeholder="갯수를 입력해 주세요">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>