red 페이지 입니다

<div>
    <label for="">email</label>
    <p><strong><%= @email %></strong></p>
</div>
<div>
    <label for="">password</label>
    <p><strong><%= @pwd %></strong></p>
</div>
<div>
    <label for="">checkbox</label>
    <p><strong><%= @check %></strong></p>
</div>