<div class="container">
    <h1>SOOMIN HOME PAGE</h1>

    <div class="link">
        <div class="pizza">
            <a href="/food/pizza">피자를 먹고싶다</a>
        </div>
        <div class="chicken">
        <a href="/food/chicken">치킨을 먹고싶다</a>
        </div>
    </div>
</div>

<style>

    .container{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    .link{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .link div{
        width: 100%;
        margin: 5%;
    }
</style>