doctype html
html
    head
        meta(charset="utf-8")
    body
        form(method="post",action="upload",enctype="multipart/form-data")
            input(type="file",name="soomti")
            input(type="submit")