<div id = "main">
	<% # <h1>여긴 뷰 페이지 입니다</h1> %>
	<!--<p>sdfasdfasasdfdas</p>-->

	<p> 여기는 루비스크립트를 쓰기 위해 뭔가 해놧음 근데 안보일거임 </p>
	<% 
	price = 1000
	result = price *1.05

	if(true)
		puts "hihi"

	%>
	<hr>
	<p> 밑에 리절트 값 출력 근데 위에는 %만 써가지고 출력이 안된다.</p>
	result = <%=result %>
	<br>
	<hr>
	<%= @msg %>
</div>